files:
    "/etc/httpd/conf.d/00_https_redirect.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
          <VirtualHost *:80>
              RewriteEngine On
              RewriteCond %{HTTP:X-Forwarded-Proto} =http
              RewriteRule . https://%{HTTP:Host}%{REQUEST_URI} [L,R=permanent]
          </VirtualHost>
