option_settings:
    aws:elb:loadbalancer:
        SSLCertificateId: arn:aws:acm:us-east-1:541431149269:certificate/155c8e65-406f-4767-a4cc-170e6ef437a5
    aws:elasticbeanstalk:application:environment:
        RDS_HOST: "kbs-wp-template.ctrvx2qwmour.us-east-1.rds.amazonaws.com"
        RDS_NAME: "wp_template_db"
        RDS_USER: "ykeita"
        RDS_PASS: "Jacob1992!"
        SITE_URL: "https://template.keibs.com/"
